﻿<table class="table">
    <thead>
        <tr>
            <th></th>
            <th align="center" colspan="@ViewBag.Steps.Count" class="side">Side A</th>
        </tr>
    </thead>
    <tbody>
        @for ( int currentStep = 0; currentStep < ViewBag.Steps.Count; currentStep++ ) {
            <tr>
                <td class="step">Step @(currentStep + 1)</td>
                @for ( int currentOption = 0; currentOption < ViewBag.Steps[currentStep].Count; currentOption++ ) {
                    <td class="option" data-step="@currentStep" data-option="@currentOption">
                        @if ( ViewBag.GameSession.Count <= currentStep && !ViewBag.terminouJogo ) {
                            <p>?</p>
                        } else {
                            @if ( ViewBag.Steps[currentStep][currentOption].correct ) {
                                <p class="correctOption">V</p>
                            } else {
                                <p class="wrongOption">X</p>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <td align="center" colspan="@ViewBag.Steps.Count" class="side">Side B</td>
        </tr>
    </tfoot>
</table>
@if ( ViewBag.terminouJogo ) {
    <button onclick='location.reload();'>Try Again</button>
    <script>
        let moves = '@ViewBag.GameSession.Count'
        let total = '@ViewBag.Steps.Count'
        if (moves === (total + 1)) {
            alert('Congratulations, that was hard');
        } else {
            let missing = total - moves + 1;
            alert(`Oh no, just ${missing} steps away`);
        }
    </script>
}