﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

th, td {
    border: 0 !important;
}

.side {
    background-color: lightgreen;
    font-weight: bold;
    color: green;
    text-align: center;
}

.step {
    font-weight: bold;
    text-align: right;
}

.option {
    border: 2px solid white !important;
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
    text-align: center;
}

.correctOption {
    background-color: green;
}

.wrongOption {
    color: red;
}